In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\igach\anaconda3\lib\site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from sqlalchemy import create_engine

db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

db = create_engine(db_string)

In [3]:
from sqlalchemy import create_engine, MetaData, Table

print(db.table_names())

metadata = MetaData()

table = Table('film_category', metadata , autoload=True, autoload_with=db)

print(repr(table))

print(table.columns.keys())

['store', 'category', 'film_category', 'country', 'actor', 'language', 'payment', 'city', 'film', 'address', 'staff', 'film_actor', 'customer', 'rental', 'inventory', 'users', 'countries', 'hosts', 'cities', 'posts', 'places', 'bookings', 'reviews', 'authors', 'books']
Table('film_category', MetaData(bind=None), Column('film_id', SMALLINT(), ForeignKey('film.film_id'), table=<film_category>, primary_key=True, nullable=False), Column('category_id', SMALLINT(), ForeignKey('category.category_id'), table=<film_category>, primary_key=True, nullable=False), Column('last_update', TIMESTAMP(), table=<film_category>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002745456EF48>, for_update=False)), schema=None)
['film_id', 'category_id', 'last_update']

In [4]:
from sqlalchemy import select

stmt = select([table])

# Print the SQL query string
print(stmt)

# Execute the statement and fetch with limit the results 
results = db.execute(stmt).fetchmany(size=10)
print(results)

SELECT film_category.film_id, film_category.category_id, film_category.last_update
FROM film_category
[(1, 6, datetime.datetime(2006, 2, 15, 10, 7, 9)), (2, 11, datetime.datetime(2006, 2, 15, 10, 7, 9)), (3, 6, datetime.datetime(2006, 2, 15, 10, 7, 9)), (4, 11, datetime.datetime(2006, 2, 15, 10, 7, 9)), (5, 8, datetime.datetime(2006, 2, 15, 10, 7, 9)), (6, 9, datetime.datetime(2006, 2, 15, 10, 7, 9)), (7, 5, datetime.datetime(2006, 2, 15, 10, 7, 9)), (8, 11, datetime.datetime(2006, 2, 15, 10, 7, 9)), (9, 11, datetime.datetime(2006, 2, 15, 10, 7, 9)), (10, 15, datetime.datetime(2006, 2, 15, 10, 7, 9))]

### Read result from query

Print 8th row of the results:

In [5]:
print(results[8])

(9, 11, datetime.datetime(2006, 2, 15, 10, 7, 9))

Print the first column of a 8th row by accessing it by its index:

In [6]:
print(results[8][:1])

(9,)

Print the column by name of the a 8th row by using its name:

In [7]:
print(results[8]["film_id"])

9

### Adding constraint to query

In [8]:
stmt = select([table])

# Add a where clause to filter the results
stmt = stmt.where(table.columns.film_id == 10)

# Execute the query to retrieve all the data returned: results
results = db.execute(stmt).fetchall()

# Loop over the results and print the column_name_1 and column_name_2
for result in results:
   print(result.film_id, result.last_update)

10 2006-02-15 10:07:09

# Exercises

## PostgreSql database structure

2. Based on information_schema, present how to explore the relationships between the tables:
staff and country
actor, language and film

staff -> adress -> city -> country

Left join :adress_id -> city_id -> country_id

3. How many categories of films are in the rental?

In [10]:
film_cat = Table('category', metadata , autoload=True, autoload_with=db)
stmt1 = select([film_cat.columns.category_id])
results1 = db.execute(stmt1).fetchall()
print('Number of categories of films in the rental:',len(results1))

Number of categories of films in the rental: 16

4. Display list of categories with limit 2.

In [12]:
stmt2 = select([film_cat.columns.name])
results2 = db.execute(stmt2).fetchmany(size=2)
print(results2)

[('Action',), ('Animation',)]

5. Find the oldest and youngest film in rental.

In [23]:
film = Table('film', metadata , autoload=True, autoload_with=db)
stmt3 = select([film.columns.title, film.columns.release_year])

stmt3.order_by(stmt3.columns.release_year)

results3 = db.execute(stmt3).fetchall()

print(results3[0], results3[-1])

('Chamber Italian', 2006) ('Zorro Ark', 2006)

6. Find all actor with a name: Olympia, Julia, Ellen. How can you check correction of your query?

In [26]:
actors = Table('actor', metadata , autoload=True, autoload_with=db)
stmt4 = select([actors.columns.first_name, actors.columns.last_name])

stmt4 = stmt4.where(actors.columns.first_name =='Olympia' or actors.columns.first_name =='Julia' or actors.columns.first_name =='Ellen')

results4 = db.execute(stmt4).fetchall()

print(results4)

[('Ellen', 'Presley')]